body {
  color: #333;
  font-family: 'Lato';
}

img {
  vertical-align: bottom;
}

.font-Raleway {
  font-family: 'Raleway';
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.button {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;
}

.section-title {
  font-size: 24px;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

.header-inner {
  padding: 15px 0;
}

.fa-bolt {
  color: #4e4e4e;
  float: left;
}

.search {
  float: right;
  padding: 14px 12px;
}

.main {
  padding-top: 78px;
}

.theme {
  background-color: #f2f2f2;
}

.theme-inner {
  padding: 250px 0;
}

.theme__text {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.subtheme__text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.desc {
  background-color: #74cfae;
}

.desc__contents {
  padding-top: 50px;
}

.iphone-picture {
  float: left;
  padding-left: 100px;
}

.desc__contents__text {
  float: right;
  margin-left: 90px;
  width: 700px;
}

.title,
.desc__text {
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

.title {
  font-size: 24px;
}

.desc__text {
  font-size: 20px;
  margin-top: 35px;
  word-break: keep-all;
}

.work {
  background-color: #f2f2f2;
}

.work-inner {
  padding: 60px 0 70px 0;
}

.work-title {
  text-align: center;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.item-list {
  margin: 80px 0 0 100px;
  opacity: 0.7;
  transition: 0.3s;
}

.item-list:nth-child(3n+1) {
  margin-left: 0;
}

.item-list:nth-child(-n+3) {
  margin-top: 0;
}

.work__text__group {
  margin: 0 auto;
  margin-top: 90px;
  width: 740px;
}

.work__text {
  color: #000;
  float: left;
  line-height: 1.5;
  text-align: center;
  width: 500px;
}

.mail {
  float: left;
  padding: 14px 20px;
  margin-left: 90px;
}

.skill {
  background-color: #4e4e4e;
}

.skill-inner {
  padding: 70px 0 100px 0;  
}

.skill-title,
.circle__text {
  color: #fff;
  text-align: center;
}

.circle {
  margin-top: 50px;
  text-align: center;
}

.circle-list {
  display: inline-block;
  margin-left: 180px;
}

.circle-list:first-child {
  margin-left: 0;
}

.circle__text {
  margin-top: 10px;
}

.sns__group {
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

.sns {
  text-align: center;
}

.sns-list {
  display: inline-block;
}

.sns-icon {
  color: #74cfae;
  display: block;
  padding: 30px 0;
  transition: 0.3s;
  width: 185px;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer__text {
  color: #fff;
  text-align: right;
}

.button:hover {
  color: #333;
}

.item-list:hover {
  opacity: 1;
}

.sns-icon:hover {
  background-color: #fff;
}

.button,
.work-picture,
.sns-list {
  cursor: pointer;
}

.humbergermenu {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  float: right;
  padding: 10px;
}

.humbergermenu__line {
  background-color: #ddd;
  border-radius: 2px;
  height: 2px;
  width: 24px;
  margin-top: 5px;
}

.humbergermenu__line:first-child {
  margin-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .inner,
  .desc__contents__text,
  .work__text__group,
  .work__text,
  .sns-icon {
    width: 97%;
  }

  .humbergermenu {
    display: none;
  }

  .desc__contents {
    padding: 50px 0 25px 0;
    text-align: center;
  }

 .iphone-picture,
 .desc__contents__text,
 .work__text,
 .mail {
   float: none;
 }

 .iphone-picture {
   padding-left: 0;
 }

 .desc__contents__text {
   margin-left: 0;
   margin-top: 20px;
 }

 .desc__text {
   margin-top: 35px;
 }

 .item {
   flex-direction: column;
   justify-content: center;
 }

 .item-list {
   margin: 0;
 }

 .item-list:nth-child(3n+1) {
  margin-top: 80px;
}

.item-list:first-child {
  margin-top: 0;
}

.work__text__group {
  margin-top: 80px;
  text-align: center;
}

.mail {
  margin-left: 0;
  margin-top: 40px;
}

.work__text {
  margin: 0 auto;
}

.circle-list {
  margin-left: 0;
  margin-top: 88px;
  display: list-item;
}

.circle-list:first-child {
  margin-top: 0;
}
}

@media screen and (max-width: 767px) {
  .inner,
  .desc__contents__text,
  .work__text__group,
  .work__text,
  .sns-icon {
    width: 97%;
  }

  .search {
    display: none;
  }

  .theme-inner {
    padding: 160px 0 130px 0 ;
  }

  .theme__text {
    font-size: 80px;
  }

  .subtheme__text {
    font-size: 30px;
  }

  .iphone-picture,
  .desc__contents__text,
  .work__text,
  .mail {
    float: none;
  }

  .desc__contents {
    text-align: center;
    padding: 50px 0 25px 0;
  }

  .iphone-picture {
    padding-left: 0;
  }

  .desc__contents__text {
    margin-top: 35px;
    margin-left: 0;
  }

  .item {
    flex-direction: column;
    justify-content: center;
  }

  .item-list {
    margin: 0;
  }

  .item-list:nth-child(3n+1) {
    margin-top: 80px;
  }

  .item-list:first-child {
    margin-top: 0;
  }

  .work__text__group {
    text-align: center;
    margin-top: 80px;
  }

  .mail {
    margin-left: 0;
    margin-top: 40px;
  }
  
  .circle-list {
    display: list-item;
    margin-left: 0;
    margin-top: 88px;
  }

  .circle-list:first-child {
    margin-top: 0;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns-list {
    display: list-item;
  }
}