body {
  color: #333;
  font-family: 'Raleway';
}

img {
  vertical-align: bottom;
}

h2 {
  font-size: 24px;
}

.font-Lato {
  font-family: 'Lato';
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header-inner {
  padding: 15px 0;
}

.fa-bolt {
  float: left;
}

.button {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  transition: color 0.3s;
}

.search.button {
  float: right;
  padding: 14px 12px;
  width: 50px;
}

.theme {
  background-color: #f2f2f2;
}

.theme-inner {
  padding: 250px 0;
}

.theme__text {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.subtheme__text {
  color: #c0c0c0;
  font-size: 30px;
  text-align: center;
}

.desc {
  background-color: #74cfae;
}

.desc__contents {
  padding-top: 50px;
}

.iphone-picture {
  float: left;
}

.desc__contents__text {
  display: inline-block;
  margin-left: 100px;
  width: 700px;
}

.title,.desc__text {
  color: #fff;
  text-align: center;
}

.title {
  font-size: 24px;
}

.desc__text {
  font-size: 20px;
  margin-top: 35px;
  word-break: keep-all;
}

.work {
  background-color: #f2f2f2;
}

.work-inner {
  padding: 60px 0 70px 0;
}

.work-title {
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.item {
  margin: 0 80px 100px 0;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item:nth-child(n + 4) {
  margin-bottom: 0;
}

.work__text__group {
  margin: 0 auto;
  margin-top: 90px;
  width: 740px;
}

.work__text {
  color: #000;
  float: left;
  margin-right: 90px;
  width: 550px;
}

.mail.button {
  float: left;
  padding: 14px 20px;
  width: 60px;
}

.skill {
  background-color: #4e4e4e;
}

.skill-inner {
  padding: 70px 0 100px 0;  
}

.skill-title,.circle__text {
  color: #fff;
  text-align: center;
}

.circle__group {
  margin-top: 50px;
}

.circle {
  display: inline-block;
  margin-left: 180px;
}

.circle:first-child {
  margin-left: 0;
}

.circle__text {
  margin-top: 10px;
}

.sns {
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

.sns-group {
  text-align: center;
}

.sns-list {
  display: inline-block;
}

.sns-icon {
  color: #74cfae;
  display: block;
  padding: 30px 0;
  transition: 0.3s;
  width: 185px;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer__text {
  color: #fff;
  text-align: right;
}

.button:hover {
  color: #333;
}

.item {
  opacity: 0.7;
  transition: 0.3s;
}

.item:hover {
  opacity: 1;
}

.sns-icon:hover {
  background-color: #fff;
}

.button,.work-picture,
.sns-list {
  cursor: pointer;
}
